# Hardhat 3 uses the `hardhat-keystore` plugin to store blockchain credentials in an encrypted vault
# `pnpm hardhat keystore set SEPOLIA_RPC_URL` to input your Sepolia RPC URL from RPC node providers like Alchemy
# `pnpm hardhat keystore set SEPOLIA_PRIVATE_KEY` to input your wallet private key from wallets like MetaMask

ALLOWED_ORIGIN=""
PORT=
DATABASE_URL=""